
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  color-scheme: light dark;
  border: solid 1px black;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: solid 1px black;
}

